{% extends 'layout.twig' %}

{% block content %}
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card login-wrapper">
      <div class="card-content">

        {% if not resetsuccess %}
          <form method="post" id="authResetpasswordForm">
            <input type="hidden" name="ResetPasswordForm" value="ok">
            <input type="hidden" name="t" value="{{ token }}">
            <h4 class="center-align">Reset your password</h4>
            <p>Please enter your new password below.</p>
            <div class="input-field">
              <label for="Password">
                Password
              </label>
              <input name="p" id="Password" class="" type="password">
            </div>

            <div class="input-field">
              <label for="ConfirmPassword">
                Confirm password
              </label>
              <input name="cp" id="ConfirmPassword" class="" type="password">
            </div>
            {% if errors %}
              {% include 'partials/errors.twig' %}
            {% endif %}
            <input class="btn-large" type="submit" value="Reset password">
          </form>
        {% else %}
          <h3 class="center-align">Reset your password</h4>
          <h4>Success!</h4>
          <p class="my-2">
            Your password has been successfully reset. You can <a href="{{ 'auth/login' | url }}">login</a>
          </p>
        {% endif %}
        

      </div>
    </div>

  </div>
</div>
{% endblock %}