.login-wrapper.card input[type="submit"] {
  width: 100%;
}

.login-wrapper.card #RecoverPassword,
.login-wrapper.card #HideRecoverPasswordLink {
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}