<html>

<body style="margin: 10px; font: 12px Verdana, Arial, sans-serif; background-color: #F9F9F9;">
  <div style="margin: 0 auto; width: 450px;">
    <div style="padding: 16px 16px 40px; margin-top: 20px; margin-left: 8px; font-weight: normal; border: 1px solid #E5E5E5; background: none repeat scroll 0 0 #FFFFFF; -moz-box-shadow: 0 4px 18px #C8C8C8; -moz-border-radius: 11px 11px 11px 11px; -moz-border-radius: 11px 11px 11px 11px; -moz-box-shadow: 0 4px 18px #C8C8C8; ">
      <h3 style="text-align: center;">Password Reset</h3>
      <br />
      <br /> You are receiving this e-mail because you requested a password reset for your user account at Clothes.
      <br />
      <br /> Your username is: {{ username }}
      <br />
      <br /> Please go to the following page and choose a new password:
      <br /><a href="{{ url_resetpassword | url }}" style="color: #21759B;">{{ url_resetpassword | url }}</a>
      <br />
      <br />Thanks for using Clothes.
    </div>
  </div>
</body>

</html>