<html>

<body style="margin: 10px; font: 12px Verdana, Arial, sans-serif; background-color: #F9F9F9;">
  <div style="margin: 0 auto; width: 450px;">
    <div style="padding: 16px 16px 40px; margin-top: 20px; margin-left: 8px; font-weight: normal; border: 1px solid #E5E5E5; background: none repeat scroll 0 0 #FFFFFF; -moz-box-shadow: 0 4px 18px #C8C8C8; -moz-border-radius: 11px 11px 11px 11px; -moz-border-radius: 11px 11px 11px 11px; -moz-box-shadow: 0 4px 18px #C8C8C8; ">
      <h3 style="text-align: center;">Registration Confirmation</h3>
      <br />
      <div style="text-align: center;">
        <a href="{{ url_confirmation | url }}" style="color: #21759B; text-align: center;">Click on this link to confirm your account.</a>
      </div>
      <br />
      <br /> If you have not requested a subscription to this email, simply ignore it and your subscription will not be activated.
      <br />
      <br /> If you have any questions regarding this email, contact us at
      <a href="mailto:contact@clothes.com" style="color: #21759B">contact@clothes.com</a>.
    </div>
  </div>
</body>

</html>